@model Presentation.Models.PollResultsViewModel

<h1>Poll Results</h1>]

<h3>@Model.Title</h3>

<ul>
	<li>@Model.Option1Text: @Model.Option1VotesCount Votes: </li>
	<li>@Model.Option2Text: @Model.Option2VotesCount Votes: </li>
	<li>@Model.Option3Text: @Model.Option3VotesCount Votes: </li>
</ul>

<h4>Total number of votes: @Model.Option1VotesCount + @Model.Option2VotesCount + @Model.Option3VotesCount</h4>